
@{
    Layout = "~/_Layout.cshtml";
}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="@Href("~/SlutProject.css")" type="text/css" />
        <title>Home</title>
    </head>

    <body>

        <div class="userhandling">
            <h1>Information</h1>
            <p>Lorem ipsum</p>
        </div>

    </body>

</html>

 