 @{

  WebSecurity.Logout();

}

<!DOCTYPE html>

<html lang="en">

    <head>

        <link rel="stylesheet" href="@Href("~/SlutProject.css")" type="text/css" />

        <title>Logout</title>

    </head>

    <body>
        <div class="userhandling">
        <h1>Logout</h1>

        <p>You are now logged out!</p>

        <p><a href="@Href("~/Home")">Return to home page</a></p>
        </div>

    </body>

</html>